body {
    background-color: white !important;
}

#byTag {
    color: black;
    position: absolute;
    bottom: 0;
    right: 50%;
}

#buttons {
    position: absolute;
    right: 2%;
    bottom: 90%; /*Less than ideal to have the buttons at the top. But oh well for now*/
    padding-right: 5%; 
    padding-bottom: 5%;
}

#buttons button {
    width: 60%;
    height: 60%;
    font-size: 12px; /* maybe make a bit smaller?*/
}

#quoteArea {
    background-color: white !important;
    margin: auto;
    width: 60vw;
    height: 30vh;
    padding-top: 20px;
    margin-top: 15vh;
    position: relative;
    font-family: Prompt;
    border-radius: 5px;
}