body {
    background-color: white !important;
}

#byTag {
    color: black;
    position: absolute;
    bottom: 0;
    right: 50%;
}

#buttons {
    position: absolute;
    right: 10%;
    bottom: -35%;
    padding-right: 5%; 
    padding-bottom: 5%;
}

#buttons button {
    width: 60%;
    height: 60%;
    font-size: 12px; /* maybe make a bit smaller?*/
}